.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-Z-AQsLchd-r0);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  outline-style: none;
  font-family: var(--token-tS6aPqFbZVup);
  font-size: var(--token-RQgFi9Nd_mOA);
  line-height: var(--token-hgciCad3Mduq);
  justify-self: flex-start;
  border-radius: var(--token-PIzSyiSvw9J2);
  padding: 0rem;
  border-width: 0px;
  border-style: none;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Cjga0IiPbypS);
  outline-offset: var(--token-25KyNE2X1fbA);
  outline-color: var(--token-kZs2lzFSMZuZ);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.overlay {
  min-width: 0px;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  background: var(--token-ZYGB4ijC3Af_);
  z-index: 200;
  right: 0;
  bottom: 0;
  display: none;
  border-radius: var(--token-PIzSyiSvw9J2);
}
.overlayshape_square {
  border-radius: var(--token-Nda7CkzA1hpK);
}
.overlayshape_pill {
  border-radius: var(--token-MjJADfHwFcZw);
}
.overlaybackgroundEffect_soften {
  display: block;
}
.overlaybackgroundEffect_darken {
  background: var(--token-rb-577dRWhyu);
  display: block;
}
.overlayflatSide_top {
  border-top-left-radius: var(--token-adNVgs65kt3Q);
  border-top-right-radius: var(--token-adNVgs65kt3Q);
}
.overlayflatSide_right {
  border-top-right-radius: var(--token-adNVgs65kt3Q);
  border-bottom-right-radius: var(--token-adNVgs65kt3Q);
}
.overlayflatSide_bottom {
  border-bottom-right-radius: var(--token-adNVgs65kt3Q);
  border-bottom-left-radius: var(--token-adNVgs65kt3Q);
}
.overlayflatSide_left {
  border-top-left-radius: var(--token-adNVgs65kt3Q);
  border-bottom-left-radius: var(--token-adNVgs65kt3Q);
}
.background {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-3r97tDeMAih5);
  z-index: 100;
  border-radius: var(--token-PIzSyiSvw9J2);
}
.backgroundcolor_primary {
  background: var(--token-pRXFNBYOE1pc);
}
.backgroundcolor_secondary {
  background: var(--token-ubbUzCGdJfmP);
}
.backgroundcolor_warmAccent {
  background: var(--token-sH84sOC5Tz7H);
}
.backgroundcolor_coolAccent {
  background: var(--token-hR7YmLtpMGYx);
}
.backgroundcolor_neutral {
  background: var(--token-9fCbq-aX76g5);
}
.backgroundcolor_info {
  background: var(--token-Dnw3UKJ5oytF);
}
.backgroundcolor_positive {
  background: var(--token-PZ1XzRFlbvOo);
}
.backgroundcolor_notice {
  background: var(--token-217QJdPmu7T3);
}
.backgroundcolor_negative {
  background: var(--token-IQvl7Bfqenp4);
}
.backgroundcolor_inverse {
  background: var(--token-_UU0g28Yy7-P);
}
.backgroundshape_square {
  border-radius: var(--token-Nda7CkzA1hpK);
}
.backgroundshape_pill {
  border-radius: var(--token-MjJADfHwFcZw);
}
.backgroundkind_fill {
  display: block;
}
.backgroundkind_subtle {
  background: var(--token-ZnAe9AfqaUGY);
  display: block;
}
.backgroundbackgroundEffect_soften {
  display: block;
}
.backgroundbackgroundEffect_darken {
  display: block;
}
.backgroundflatSide_top {
  border-top-left-radius: var(--token-adNVgs65kt3Q);
  border-top-right-radius: var(--token-adNVgs65kt3Q);
}
.backgroundflatSide_right {
  border-top-right-radius: var(--token-adNVgs65kt3Q);
  border-bottom-right-radius: var(--token-adNVgs65kt3Q);
}
.backgroundflatSide_bottom {
  border-bottom-right-radius: var(--token-adNVgs65kt3Q);
  border-bottom-left-radius: var(--token-adNVgs65kt3Q);
}
.backgroundflatSide_left {
  border-top-left-radius: var(--token-adNVgs65kt3Q);
  border-bottom-left-radius: var(--token-adNVgs65kt3Q);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-PIzSyiSvw9J2);
  border: var(--token-xlbDEzoP28sE) solid var(--token-DXPmHM7zD4bv);
}
.bordercolor_primary {
  border-color: var(--token-GDWa-G8S6HMY);
}
.bordercolor_secondary {
  border-color: var(--token-o9h7KeJ3ua1q);
}
.bordercolor_warmAccent {
  border-color: var(--token-MQzhfLFx7Qr0);
}
.bordercolor_coolAccent {
  border-color: var(--token-PLaC-CKaBUsW);
}
.bordercolor_neutral {
  border-color: var(--token-DXPmHM7zD4bv);
}
.bordercolor_info {
  border-color: var(--token-9wqUdhrabe5x);
}
.bordercolor_positive {
  border-color: var(--token-wfphvC3gLIk3);
}
.bordercolor_notice {
  border-color: var(--token-X-OSAopjXBza);
}
.bordercolor_negative {
  border-color: var(--token-p2fTsbqVTMgx);
}
.bordercolor_inverse {
  border-color: var(--token-dkBHsY9c5j0u);
}
.bordershape_square {
  border-radius: var(--token-Nda7CkzA1hpK);
}
.bordershape_pill {
  border-radius: var(--token-MjJADfHwFcZw);
}
.borderkind_fill {
  display: none;
}
.borderkind_subtle {
  display: none;
}
.borderkind_text {
  display: none;
}
.borderkind_bordered {
  border-width: var(--token-G561vXSBBC6j);
}
.borderflatSide_top {
  border-top-left-radius: var(--token-adNVgs65kt3Q);
  border-top-right-radius: var(--token-adNVgs65kt3Q);
}
.borderflatSide_right {
  border-top-right-radius: var(--token-adNVgs65kt3Q);
  border-bottom-right-radius: var(--token-adNVgs65kt3Q);
}
.borderflatSide_bottom {
  border-bottom-left-radius: var(--token-adNVgs65kt3Q);
  border-bottom-right-radius: var(--token-adNVgs65kt3Q);
}
.borderflatSide_left {
  border-top-left-radius: var(--token-adNVgs65kt3Q);
  border-bottom-left-radius: var(--token-adNVgs65kt3Q);
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-PIzSyiSvw9J2);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-VJzMSRHVTf2m);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-0pzpcvcl0rkl);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-PHRSC1euaEHc);
}
.interactionEffectshape_square {
  border-radius: var(--token-Nda7CkzA1hpK);
}
.interactionEffectshape_pill {
  border-radius: var(--token-MjJADfHwFcZw);
}
.interactionEffectflatSide_top {
  border-top-left-radius: var(--token-adNVgs65kt3Q);
  border-top-right-radius: var(--token-adNVgs65kt3Q);
}
.interactionEffectflatSide_right {
  border-top-right-radius: var(--token-adNVgs65kt3Q);
  border-bottom-right-radius: var(--token-adNVgs65kt3Q);
}
.interactionEffectflatSide_bottom {
  border-bottom-right-radius: var(--token-adNVgs65kt3Q);
  border-bottom-left-radius: var(--token-adNVgs65kt3Q);
}
.interactionEffectflatSide_left {
  border-top-left-radius: var(--token-adNVgs65kt3Q);
  border-bottom-left-radius: var(--token-adNVgs65kt3Q);
}
.contentContainer {
  display: flex;
  z-index: 300;
  padding: var(--token-jAdpF_Kq6s_I) var(--token-Mci-sIjSGy1g);
}
.contentContainer > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-4x6PmEU1Bn_q));
  width: calc(100% + var(--token-4x6PmEU1Bn_q));
}
.contentContainer > :global(.__wab_flex-container) > *,
.contentContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentContainer > :global(.__wab_flex-container) > picture > img,
.contentContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-4x6PmEU1Bn_q);
}
.contentContainersize_extraSmall {
  padding: var(--token-oUFXJkiXqz7-) var(--token-u7jYMXimyF6U);
}
.contentContainersize_small {
  padding: var(--token-ATyPYnIQhamX) var(--token-b7ugjyTqg0Nr);
}
.contentContainersize_large {
  padding: var(--token-10n4IQRoaGsl) var(--token-yuBCp32v-tYy);
}
.contentContainersize_extraLarge {
  padding: var(--token-uFR2RlFP1c1P) var(--token-o-4bpFD4graN);
}
.freeBox__iYnP2 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__iYnP2DbMw3 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-BPKfWDK1AfF8);
}
.slotTargetStartcolor_secondary {
  color: var(--token-VYtaodoGsW9-);
}
.slotTargetStartcolor_warmAccent {
  color: var(--token-syG-94Dgur_o);
}
.slotTargetStartcolor_coolAccent {
  color: var(--token-GuwFerM1Os7U);
}
.slotTargetStartcolor_neutral {
  color: var(--token-roSBiVAdB6RD);
}
.slotTargetStartcolor_info {
  color: var(--token-b5zwxo9nEDIX);
}
.slotTargetStartcolor_positive {
  color: var(--token-YIW4G16nj9zc);
}
.slotTargetStartcolor_notice {
  color: var(--token-snahQ_-HDXeM);
}
.slotTargetStartcolor_negative {
  color: var(--token-qUmyBa_7u7wR);
}
.slotTargetStartcolor_inverse {
  color: var(--token-uWJsXpiuZKrZ);
}
.svg__b7Cmn {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-etyaqbjCpyTe);
}
.slotTargetLabelcolor_secondary {
  color: var(--token-REmWWZU3ycOa);
}
.slotTargetLabelcolor_warmAccent {
  color: var(--token-UQ6gfwcRGMLv);
}
.slotTargetLabelcolor_coolAccent {
  color: var(--token-rupoWbRdWelC);
}
.slotTargetLabelcolor_info {
  color: var(--token-uLlLlljslVub);
}
.slotTargetLabelcolor_positive {
  color: var(--token-9Lauows4v1wU);
}
.slotTargetLabelcolor_notice {
  color: var(--token-XJ3--oBOWWFd);
}
.slotTargetLabelcolor_negative {
  color: var(--token-cQCjissXQPk9);
}
.slotTargetLabelcolor_inverse {
  color: var(--token-8xDXbOmy6Dg8);
}
.slotTargetLabelkind_fill {
  color: var(--token-F1nbfJFLj4d4);
}
.slotTargetLabelbackgroundEffect_soften {
  color: var(--token-kkt0VKe974-F);
}
.slotTargetLabelbackgroundEffect_darken {
  color: var(--token-QyEBTDf3AWJ3);
}
.slotTargetLabelsize_extraSmall {
  font-size: var(--token-0Xt3P-hsBRwX);
  line-height: var(--token-R0cVgOK6q3VH);
}
.slotTargetLabelsize_small {
  font-size: var(--token-gc9yC2QeFwCH);
  line-height: var(--token-9jtqWbBaV3lD);
}
.slotTargetLabelsize_medium {
  font-size: var(--token-Be6-01tTSx-x);
  line-height: var(--token-WI4n9HblE6oG);
}
.slotTargetLabelsize_large {
  font-size: var(--token-vK9_sW5qU-4G);
  line-height: var(--token-Ese4UwHZDhLU);
}
.slotTargetLabelsize_extraLarge {
  font-size: var(--token-k4BbagyeF_2M);
  line-height: var(--token--WKMcWBsGZGM);
}
.text___4JBsQ {
  white-space: pre;
}
.freeBox__miL2 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__miL2EhZbf {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-BPKfWDK1AfF8);
}
.slotTargetEndcolor_secondary {
  color: var(--token-VYtaodoGsW9-);
}
.slotTargetEndcolor_warmAccent {
  color: var(--token-syG-94Dgur_o);
}
.slotTargetEndcolor_coolAccent {
  color: var(--token-GuwFerM1Os7U);
}
.slotTargetEndcolor_neutral {
  color: var(--token-roSBiVAdB6RD);
}
.slotTargetEndcolor_info {
  color: var(--token-b5zwxo9nEDIX);
}
.slotTargetEndcolor_positive {
  color: var(--token-YIW4G16nj9zc);
}
.slotTargetEndcolor_notice {
  color: var(--token-snahQ_-HDXeM);
}
.slotTargetEndcolor_negative {
  color: var(--token-qUmyBa_7u7wR);
}
.slotTargetEndcolor_inverse {
  color: var(--token-uWJsXpiuZKrZ);
}
.svg__fL64T {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
