@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400&family=Source+Sans+Pro%3Aital%2Cwght%400%2C400&family=Inconsolata%3Aital%2Cwght%400%2C400&display=swap");

.plasmic_tokens {
  --token-ubbUzCGdJfmP: var(--token-sKTGoR7r3BWd);
  --plasmic-token-17-sds-component-button-color-color-secondary-background-color-base: var(
    --token-ubbUzCGdJfmP
  );
  --token-IQvl7Bfqenp4: var(--token-cMa5ICSqW2a4);
  --plasmic-token-17-sds-component-button-color-color-negative-background-color-base: var(
    --token-IQvl7Bfqenp4
  );
  --token-Dnw3UKJ5oytF: var(--token-pNEVWcqglwzZ);
  --plasmic-token-17-sds-component-button-color-color-info-background-color-base: var(
    --token-Dnw3UKJ5oytF
  );
  --token-_UU0g28Yy7-P: var(--token-esMSzi6WyBay);
  --plasmic-token-17-sds-component-button-color-color-inverse-background-color-base: var(
    --token-_UU0g28Yy7-P
  );
  --token-pRXFNBYOE1pc: var(--token-y5g1Y0Z6YTMH);
  --plasmic-token-17-sds-component-button-color-color-primary-background-color-base: var(
    --token-pRXFNBYOE1pc
  );
  --token-L9SstZc2CPmL: var(--token-80IIxg3kfppD);
  --plasmic-token-17-sds-component-button-color-color-primary-text-color-base: var(
    --token-L9SstZc2CPmL
  );
  --token-REmWWZU3ycOa: var(--token-jkHOfb-cuniu);
  --plasmic-token-17-sds-component-button-color-color-secondary-text-color-base: var(
    --token-REmWWZU3ycOa
  );
  --token-9wqUdhrabe5x: var(--token-nlu4OfAe565s);
  --plasmic-token-17-sds-component-button-color-color-info-border-color-base: var(
    --token-9wqUdhrabe5x
  );
  --token-p2fTsbqVTMgx: var(--token-XXkRuC-kWjhC);
  --plasmic-token-17-sds-component-button-color-color-negative-border-color-base: var(
    --token-p2fTsbqVTMgx
  );
  --token-GDWa-G8S6HMY: var(--token-kpldaBuAIEq2);
  --plasmic-token-17-sds-component-button-color-color-primary-border-color-base: var(
    --token-GDWa-G8S6HMY
  );
  --token-o9h7KeJ3ua1q: var(--token-4dHkBRVf1Enh);
  --plasmic-token-17-sds-component-button-color-color-secondary-border-color-base: var(
    --token-o9h7KeJ3ua1q
  );
  --token-DhmjhmZow84T: var(--token-6GU2kp7-yxP2);
  --plasmic-token-17-sds-component-button-color-base-focused-background-color-base: var(
    --token-DhmjhmZow84T
  );
  --token-VJzMSRHVTf2m: var(--token-7DdNV4UCZUai);
  --plasmic-token-17-sds-component-button-color-base-hovered-background-color-base: var(
    --token-VJzMSRHVTf2m
  );
  --token-PHRSC1euaEHc: var(--token-5nGdS1S4JDoh);
  --plasmic-token-17-sds-component-button-color-base-pressed-background-color-base: var(
    --token-PHRSC1euaEHc
  );
  --token-jAdpF_Kq6s_I: var(--token-mZv7Y9lIEaYC);
  --plasmic-token-17-sds-component-button-spacing-base-base-content-container-padding-vertical: var(
    --token-jAdpF_Kq6s_I
  );
  --token-3r97tDeMAih5: var(--token-unSuatcXrgwD);
  --plasmic-token-17-sds-component-button-color-base-base-background-color-base: var(
    --token-3r97tDeMAih5
  );
  --token-a9tU5LgbBS6-: var(--token--OkMpcDSlGop);
  --plasmic-token-17-sds-component-button-color-color-inverse-text-color-base: var(
    --token-a9tU5LgbBS6-
  );
  --token-RQgFi9Nd_mOA: var(--token-jAcE4G5tDouF);
  --plasmic-token-17-sds-component-button-font-size-base-base: var(
    --token-RQgFi9Nd_mOA
  );
  --token-Mci-sIjSGy1g: var(--token-K72AYDYsYBi8);
  --plasmic-token-17-sds-component-button-spacing-base-base-content-container-padding-horizontal: var(
    --token-Mci-sIjSGy1g
  );
  --token-F1nbfJFLj4d4: var(--token-MPs7jBzMre_S);
  --plasmic-token-17-sds-component-button-color-base-base-text-color-on-color: var(
    --token-F1nbfJFLj4d4
  );
  --token-u7jYMXimyF6U: var(--token-kJ49DSpqO5tA);
  --plasmic-token-17-sds-component-button-spacing-size-extra-small-padding-horiztonal: var(
    --token-u7jYMXimyF6U
  );
  --token-oUFXJkiXqz7-: var(--token-1xj0T_trqrQe);
  --plasmic-token-17-sds-component-button-spacing-size-extra-small-padding-vertical: var(
    --token-oUFXJkiXqz7-
  );
  --token-L59aDTLx6G0L: var(--token-aeh5RDfFVW1h);
  --plasmic-token-17-sds-component-button-color-color-primary-text-color-on-primary: var(
    --token-L59aDTLx6G0L
  );
  --token-Jq60E5trMGl0: var(--token-lpf3W4SAXfBs);
  --plasmic-token-17-sds-component-button-color-color-secondary-text-color-on-secondary: var(
    --token-Jq60E5trMGl0
  );
  --token-DNy0SVNnRlAP: var(--token-u8Ga06useH4m);
  --plasmic-token-17-sds-component-button-color-color-notice-text-color-on-notice: var(
    --token-DNy0SVNnRlAP
  );
  --token-PZ1XzRFlbvOo: var(--token-JJ3RIufLAaFO);
  --plasmic-token-17-sds-component-button-color-color-positive-background-color-base: var(
    --token-PZ1XzRFlbvOo
  );
  --token-217QJdPmu7T3: var(--token-fbNlRRVl4jQF);
  --plasmic-token-17-sds-component-button-color-color-notice-background-color-base: var(
    --token-217QJdPmu7T3
  );
  --token-cQCjissXQPk9: var(--token-UissbD2-3mB-);
  --plasmic-token-17-sds-component-button-color-color-negative-text-color-base: var(
    --token-cQCjissXQPk9
  );
  --token-9Lauows4v1wU: var(--token-kUZCw0puHfsV);
  --plasmic-token-17-sds-component-button-color-color-positive-text-color-base: var(
    --token-9Lauows4v1wU
  );
  --token-0pzpcvcl0rkl: var(--token-ExgOrd_YZk8M);
  --plasmic-token-17-sds-component-button-color-base-disabled-background-color-base: var(
    --token-0pzpcvcl0rkl
  );
  --token-wfphvC3gLIk3: var(--token-0l0XqViBeyXn);
  --plasmic-token-17-sds-component-button-color-color-positive-border-color-base: var(
    --token-wfphvC3gLIk3
  );
  --token-X-OSAopjXBza: var(--token-lpMlGaXS6KFf);
  --plasmic-token-17-sds-component-button-color-color-notice-border-color-base: var(
    --token-X-OSAopjXBza
  );
  --token-9fCbq-aX76g5: var(--token-5Z8GnaIPldUZ);
  --plasmic-token-17-sds-component-button-color-color-neutral-background-color-base: var(
    --token-9fCbq-aX76g5
  );
  --token-NKsU16M2Ynsd: var(--token-DDI5ppej2EW9);
  --plasmic-token-17-sds-component-button-color-color-neutral-text-color-on-neutral: var(
    --token-NKsU16M2Ynsd
  );
  --token-DXPmHM7zD4bv: var(--token-hbJxYZYHRLot);
  --plasmic-token-17-sds-component-button-color-color-neutral-border-color-base: var(
    --token-DXPmHM7zD4bv
  );
  --token-7s-8rTv9H4HW: var(--token-Zc9kz-c9SWOD);
  --plasmic-token-17-sds-component-button-color-color-neutral-text-color-base: var(
    --token-7s-8rTv9H4HW
  );
  --token-hgciCad3Mduq: var(--token-_LtbYUV3TYkv);
  --plasmic-token-17-sds-component-button-line-height-base-base: var(
    --token-hgciCad3Mduq
  );
  --token-vK9_sW5qU-4G: var(--token-Lb-is3KmoI0D);
  --plasmic-token-17-sds-component-button-font-size-size-lg: var(
    --token-vK9_sW5qU-4G
  );
  --token-rb-577dRWhyu: var(--token-JBjs0ygaxI8W);
  --plasmic-token-17-sds-component-button-color-background-effect-background-color-darken: var(
    --token-rb-577dRWhyu
  );
  --token-dkBHsY9c5j0u: var(--token-yd9e-YKf429M);
  --plasmic-token-17-sds-component-button-color-color-inverse-border-color-base: var(
    --token-dkBHsY9c5j0u
  );
  --token-zXQDcOuEeeMj: var(--token-_nUjJVFSxWIk);
  --plasmic-token-17-sds-component-button-color-base-base-border-color-base: var(
    --token-zXQDcOuEeeMj
  );
  --token-etyaqbjCpyTe: var(--token-Zc9kz-c9SWOD);
  --plasmic-token-17-sds-component-button-color-base-base-text-color-base: var(
    --token-etyaqbjCpyTe
  );
  --token-gEfwtv1Bpjzu: var(--token-DDI5ppej2EW9);
  --plasmic-token-17-sds-component-button-color-color-inverse-text-color-on-inverse: var(
    --token-gEfwtv1Bpjzu
  );
  --token-adNVgs65kt3Q: var(--token-OXtA5VtQ6GM2);
  --plasmic-token-17-sds-component-button-spacing-flat-side-radius-flat: var(
    --token-adNVgs65kt3Q
  );
  --token-lYgclSkQhPxy: var(--token-Gl4nhWO9AY05);
  --plasmic-token-17-sds-component-button-spacing-base-base-aria-button-size-min-width: var(
    --token-lYgclSkQhPxy
  );
  --token-xlbDEzoP28sE: var(--token-yFgDyItuZi2r);
  --plasmic-token-17-sds-component-button-spacing-base-base-border-border-width: var(
    --token-xlbDEzoP28sE
  );
  --token-gc9yC2QeFwCH: var(--token-CSjSRBvBzjpF);
  --plasmic-token-17-sds-component-button-font-size-size-sm: var(
    --token-gc9yC2QeFwCH
  );
  --token-9jtqWbBaV3lD: var(--token-HiRVSC0h77q-);
  --plasmic-token-17-sds-component-button-line-height-size-sm: var(
    --token-9jtqWbBaV3lD
  );
  --token-Ese4UwHZDhLU: var(--token-j1rimEqvHA_q);
  --plasmic-token-17-sds-component-button-line-height-size-lg: var(
    --token-Ese4UwHZDhLU
  );
  --token-4x6PmEU1Bn_q: var(--token-fPOTM31B3KJs);
  --plasmic-token-17-sds-component-button-spacing-base-base-content-container-layout-gap: var(
    --token-4x6PmEU1Bn_q
  );
  --token-enTRUy8SItEl: var(--token-J_PTe8o1D_Ir);
  --plasmic-token-17-sds-component-button-spacing-base-base-aria-button-padding-all: var(
    --token-enTRUy8SItEl
  );
  --token-PIzSyiSvw9J2: var(--token-3YfeYBOUJRlS);
  --plasmic-token-17-sds-component-button-spacing-shape-rounded-radius-rounded: var(
    --token-PIzSyiSvw9J2
  );
  --token-b7ugjyTqg0Nr: var(--token-coulfmoNPufH);
  --plasmic-token-17-sds-component-button-spacing-size-small-padding-horiztonal: var(
    --token-b7ugjyTqg0Nr
  );
  --token-10n4IQRoaGsl: var(--token-coulfmoNPufH);
  --plasmic-token-17-sds-component-button-spacing-size-large-padding-vertical: var(
    --token-10n4IQRoaGsl
  );
  --token-o-4bpFD4graN: var(--token-oEonbNytLOMX);
  --plasmic-token-17-sds-component-button-spacing-size-extra-large-padding-horiztonal: var(
    --token-o-4bpFD4graN
  );
  --token-UDooSE3xTlqQ: var(--token-6aQE6n7Ryiwe);
  --plasmic-token-17-sds-component-button-spacing-size-small-radius-radius: var(
    --token-UDooSE3xTlqQ
  );
  --token-9SyXK3sJ-Twn: var(--token-3YfeYBOUJRlS);
  --plasmic-token-17-sds-component-button-spacing-flat-side-radius-rounded: var(
    --token-9SyXK3sJ-Twn
  );
  --token-Cjga0IiPbypS: var(--token-Wuz7BeGxqaJA);
  --plasmic-token-17-sds-component-button-spacing-base-focus-visible-aria-button-outline-width: var(
    --token-Cjga0IiPbypS
  );
  --token-25KyNE2X1fbA: var(--token-z_5RrY1OHG9Z);
  --plasmic-token-17-sds-component-button-spacing-base-focus-visible-aria-button-outline-offset: var(
    --token-25KyNE2X1fbA
  );
  --token-sKW7jCgx6HHn: var(--token-gmTkI8CV6ysl);
  --plasmic-token-17-sds-component-button-spacing-size-small-layout-gap: var(
    --token-sKW7jCgx6HHn
  );
  --token-uLlLlljslVub: var(--token-wD201HvT9qiK);
  --plasmic-token-17-sds-component-button-color-color-info-text-color-base: var(
    --token-uLlLlljslVub
  );
  --token-XJ3--oBOWWFd: var(--token-0_RAXAn6oj1t);
  --plasmic-token-17-sds-component-button-color-color-notice-text-color-base: var(
    --token-XJ3--oBOWWFd
  );
  --token-1ktRskpJIQK_: var(--token-l86H8rhe5bv0);
  --plasmic-token-17-sds-component-button-color-color-positive-text-color-on-positive: var(
    --token-1ktRskpJIQK_
  );
  --token-ZYGB4ijC3Af_: var(--token-ngeAb24pSuDf);
  --plasmic-token-17-sds-component-button-color-background-effect-background-color-soften: var(
    --token-ZYGB4ijC3Af_
  );
  --token-Z-AQsLchd-r0: var(--token-RyKRIQQNvC3-);
  --plasmic-token-17-sds-component-button-color-base-base-background-color-clear: var(
    --token-Z-AQsLchd-r0
  );
  --token-Nda7CkzA1hpK: var(--token-OXtA5VtQ6GM2);
  --plasmic-token-17-sds-component-button-spacing-shape-square-radius-square: var(
    --token-Nda7CkzA1hpK
  );
  --token-kZs2lzFSMZuZ: var(--token-yv2WNAuOLbnK);
  --plasmic-token-17-sds-component-button-color-base-base-border-color-outline: var(
    --token-kZs2lzFSMZuZ
  );
  --token-WJVTVGwf-LH4: var(--token-jEqeY4gFUhl0);
  --plasmic-token-17-sds-component-button-spacing-flat-side-radius-pill: var(
    --token-WJVTVGwf-LH4
  );
  --token-QyEBTDf3AWJ3: var(--token-iOVIyDy7uGO6);
  --plasmic-token-17-sds-component-button-color-background-effect-text-color-on-dark: var(
    --token-QyEBTDf3AWJ3
  );
  --token-kkt0VKe974-F: var(--token-iOVIyDy7uGO6);
  --plasmic-token-17-sds-component-button-color-background-effect-text-color-on-soft: var(
    --token-kkt0VKe974-F
  );
  --token-W--uQyQtilIW: var(--token-REl6-oiMkGMC);
  --plasmic-token-17-sds-component-button-spacing-cta-margin-margin: var(
    --token-W--uQyQtilIW
  );
  --token-f4cYgjpBXSj5: var(--token-REl6-oiMkGMC);
  --plasmic-token-17-sds-component-button-spacing-cta-padding-horizontal: var(
    --token-f4cYgjpBXSj5
  );
  --token-dXhgtFl7zJkH: var(--token-qW9Qhx-2buKp);
  --plasmic-token-17-sds-component-button-spacing-cta-padding-vertical: var(
    --token-dXhgtFl7zJkH
  );
  --token-G561vXSBBC6j: var(--token--ilYiFPJklPH);
  --plasmic-token-17-sds-component-button-spacing-kind-bordered-border-width: var(
    --token-G561vXSBBC6j
  );
  --token-0Xt3P-hsBRwX: var(--token-2x7Jb4Menays);
  --plasmic-token-17-sds-component-button-font-size-size-xs: var(
    --token-0Xt3P-hsBRwX
  );
  --token-k4BbagyeF_2M: var(--token-A9KKw4KXc6Xn);
  --plasmic-token-17-sds-component-button-font-size-size-xl: var(
    --token-k4BbagyeF_2M
  );
  --token-R0cVgOK6q3VH: var(--token-JS09_BwFbUFH);
  --plasmic-token-17-sds-component-button-line-height-size-xs: var(
    --token-R0cVgOK6q3VH
  );
  --token--WKMcWBsGZGM: var(--token-8BWTeW1PeeIo);
  --plasmic-token-17-sds-component-button-line-height-size-xl: var(
    --token--WKMcWBsGZGM
  );
  --token-tS6aPqFbZVup: var(--token-DAhVd1Wryyl5);
  --plasmic-token-17-sds-component-button-font-family-base-base: var(
    --token-tS6aPqFbZVup
  );
  --token-vdQ205bQXbHI: var(--token-J_PTe8o1D_Ir);
  --plasmic-token-17-sds-component-button-spacing-compact-padding-all: var(
    --token-vdQ205bQXbHI
  );
  --token-MjJADfHwFcZw: var(--token-jEqeY4gFUhl0);
  --plasmic-token-17-sds-component-button-spacing-shape-pill-radius-pill: var(
    --token-MjJADfHwFcZw
  );
  --token-BPKfWDK1AfF8: var(--token-t-h8V6leIspd);
  --plasmic-token-17-sds-component-button-color-base-base-icon-color-base: var(
    --token-BPKfWDK1AfF8
  );
  --token-ArBmIenhqS4x: var(--token-YVLLc9-WHa7i);
  --plasmic-token-17-sds-component-button-color-color-primary-icon-color-base: var(
    --token-ArBmIenhqS4x
  );
  --token-DmFrIkBqW80Z: var(--token-Glnk-bUTbyjx);
  --plasmic-token-17-sds-component-button-color-color-primary-icon-color-on-primary: var(
    --token-DmFrIkBqW80Z
  );
  --token-VYtaodoGsW9-: var(--token-TmZ9A8FXj4Wd);
  --plasmic-token-17-sds-component-button-color-color-secondary-icon-color-base: var(
    --token-VYtaodoGsW9-
  );
  --token-OhBtzXhQEzKw: var(--token-Lw0D_RJM4TIg);
  --plasmic-token-17-sds-component-button-color-color-secondary-icon-color-on-secondary: var(
    --token-OhBtzXhQEzKw
  );
  --token-hR7YmLtpMGYx: var(--token-rdN7z6qijw0H);
  --plasmic-token-17-sds-component-button-color-color-accent-cool-background-color-base: var(
    --token-hR7YmLtpMGYx
  );
  --token-PLaC-CKaBUsW: var(--token-UfplAVRwsTgM);
  --plasmic-token-17-sds-component-button-color-color-accent-cool-border-color-base: var(
    --token-PLaC-CKaBUsW
  );
  --token-GuwFerM1Os7U: var(--token-b-z8XamFWM4z);
  --plasmic-token-17-sds-component-button-color-color-accent-cool-icon-color-base: var(
    --token-GuwFerM1Os7U
  );
  --token-bZ4xRs-VbSGJ: var(--token-JQRGL0cE6_rY);
  --plasmic-token-17-sds-component-button-color-color-accent-cool-icon-color-on-accent-cool: var(
    --token-bZ4xRs-VbSGJ
  );
  --token-rupoWbRdWelC: var(--token-TO4YcZMEyIlj);
  --plasmic-token-17-sds-component-button-color-color-accent-cool-text-color-base: var(
    --token-rupoWbRdWelC
  );
  --token-XICqZe4-vL--: var(--token-4Dkv64tgW_Az);
  --plasmic-token-17-sds-component-button-color-color-accent-cool-text-color-on-accent-cool: var(
    --token-XICqZe4-vL--
  );
  --token-sH84sOC5Tz7H: var(--token-E2THZ0ef3t4_);
  --plasmic-token-17-sds-component-button-color-color-accent-warm-background-color-base: var(
    --token-sH84sOC5Tz7H
  );
  --token-MQzhfLFx7Qr0: var(--token-etuygay0BXac);
  --plasmic-token-17-sds-component-button-color-color-accent-warm-border-color-base: var(
    --token-MQzhfLFx7Qr0
  );
  --token-syG-94Dgur_o: var(--token-RJndDgTkX0jE);
  --plasmic-token-17-sds-component-button-color-color-accent-warm-icon-color-base: var(
    --token-syG-94Dgur_o
  );
  --token-461Dc7EEDucT: var(--token-_CD-lJY9Bwdh);
  --plasmic-token-17-sds-component-button-color-color-accent-warm-icon-color-on-accent-warm: var(
    --token-461Dc7EEDucT
  );
  --token-UQ6gfwcRGMLv: var(--token-5d8o8uwG1ZR0);
  --plasmic-token-17-sds-component-button-color-color-accent-warm-text-color-base: var(
    --token-UQ6gfwcRGMLv
  );
  --token-tAfxNo9ceAt-: var(--token-aiOQPVCgC4hd);
  --plasmic-token-17-sds-component-button-color-color-accent-warm-text-color-on-accent-warm: var(
    --token-tAfxNo9ceAt-
  );
  --token-b5zwxo9nEDIX: var(--token-puwoyFCOF0yr);
  --plasmic-token-17-sds-component-button-color-color-info-icon-color-base: var(
    --token-b5zwxo9nEDIX
  );
  --token-xsVt4XJwnAal: var(--token-6BDx9csrh0Tl);
  --plasmic-token-17-sds-component-button-color-color-inverse-icon-color-base: var(
    --token-xsVt4XJwnAal
  );
  --token-uWJsXpiuZKrZ: var(--token-9z8uv08ipLvV);
  --plasmic-token-17-sds-component-button-color-color-inverse-icon-color-on-inverse: var(
    --token-uWJsXpiuZKrZ
  );
  --token-qUmyBa_7u7wR: var(--token-OdL3SKgc23wt);
  --plasmic-token-17-sds-component-button-color-color-negative-icon-color-base: var(
    --token-qUmyBa_7u7wR
  );
  --token-snahQ_-HDXeM: var(--token-fO3-AsUo_Zz3);
  --plasmic-token-17-sds-component-button-color-color-notice-icon-color-base: var(
    --token-snahQ_-HDXeM
  );
  --token-P02cMKGepUVl: var(--token-DrVTpKlJRr4q);
  --plasmic-token-17-sds-component-button-color-color-notice-icon-color-on-notice: var(
    --token-P02cMKGepUVl
  );
  --token-YIW4G16nj9zc: var(--token-7U8Bkcx1pRLu);
  --plasmic-token-17-sds-component-button-color-color-positive-icon-color-base: var(
    --token-YIW4G16nj9zc
  );
  --token-e59OFdd52umD: var(--token-HdiLfPgrYPMB);
  --plasmic-token-17-sds-component-button-color-color-positive-icon-color-on-positive: var(
    --token-e59OFdd52umD
  );
  --token-SmfdQca4Bxvm: var(--token-wwAVOpvR7J4E);
  --plasmic-token-17-sds-component-button-color-color-info-text-color-on-info: var(
    --token-SmfdQca4Bxvm
  );
  --token-ZCjtbdm4UMf-: var(--token-y9oU4x5bXPqT);
  --plasmic-token-17-sds-component-button-color-color-info-icon-color-on-info: var(
    --token-ZCjtbdm4UMf-
  );
  --token-PrHScNiopovS: var(--token-9tO_HEt8aDYy);
  --plasmic-token-17-sds-component-button-color-color-negative-text-color-on-negative: var(
    --token-PrHScNiopovS
  );
  --token-gnkeW_ssC76X: var(--token-xwe9yFGXGbI6);
  --plasmic-token-17-sds-component-button-color-color-negative-icon-color-on-negative: var(
    --token-gnkeW_ssC76X
  );
  --token-roSBiVAdB6RD: var(--token-zUtMaOevpYUF);
  --plasmic-token-17-sds-component-button-color-color-neutral-icon-color-base: var(
    --token-roSBiVAdB6RD
  );
  --token-dvglDnC3hqXw: var(--token-X-1RzhbNF3Xi);
  --plasmic-token-17-sds-component-button-color-color-neutral-icon-color-on-neutral: var(
    --token-dvglDnC3hqXw
  );
  --token-ZnAe9AfqaUGY: var(--token-esMSzi6WyBay);
  --plasmic-token-17-sds-component-button-color-kind-subtle-background-color-base: var(
    --token-ZnAe9AfqaUGY
  );
  --token-Be6-01tTSx-x: var(--token-RQgFi9Nd_mOA);
  --plasmic-token-17-sds-component-button-font-size-size-md: var(
    --token-Be6-01tTSx-x
  );
  --token-ATyPYnIQhamX: var(--token-kJ49DSpqO5tA);
  --plasmic-token-17-sds-component-button-spacing-size-small-padding-vertical: var(
    --token-ATyPYnIQhamX
  );
  --token-xcTfqX60TMn9: var(--token-Mci-sIjSGy1g);
  --plasmic-token-17-sds-component-button-spacing-size-medium-padding-horiztonal: var(
    --token-xcTfqX60TMn9
  );
  --token-zWSvkYitHBLl: var(--token-jAdpF_Kq6s_I);
  --plasmic-token-17-sds-component-button-spacing-size-medium-padding-vertical: var(
    --token-zWSvkYitHBLl
  );
  --token-yuBCp32v-tYy: var(--token-bDHHewMGf2Ct);
  --plasmic-token-17-sds-component-button-spacing-size-large-padding-horizontal: var(
    --token-yuBCp32v-tYy
  );
  --token-uFR2RlFP1c1P: var(--token-coulfmoNPufH);
  --plasmic-token-17-sds-component-button-spacing-size-extra-large-padding-vertical: var(
    --token-uFR2RlFP1c1P
  );
  --token-WI4n9HblE6oG: var(--token-hgciCad3Mduq);
  --plasmic-token-17-sds-component-button-line-height-size-md: var(
    --token-WI4n9HblE6oG
  );
}

.plasmic_default_styles {
  --mixin-BVTJzQfB1fNE_font-family: var(--token-d-75LX9qLhFO);
  --mixin-BVTJzQfB1fNE_font-weight: 400;
  --mixin-BVTJzQfB1fNE_font-style: normal;
  --mixin-BVTJzQfB1fNE_color: var(--token-Zc9kz-c9SWOD);
  --mixin-BVTJzQfB1fNE_text-align: left;
  --mixin-BVTJzQfB1fNE_text-transform: none;
  --mixin-BVTJzQfB1fNE_letter-spacing: normal;
  --mixin-BVTJzQfB1fNE_white-space: pre-wrap;
  --mixin-BVTJzQfB1fNE_user-select: text;
  --mixin-BVTJzQfB1fNE_text-decoration-line: none;
  --mixin-BVTJzQfB1fNE_text-overflow: clip;
  --mixin-BVTJzQfB1fNE_font-size: var(--token-UCiCIP9lz9Hd);
  --mixin-BVTJzQfB1fNE_line-height: var(--token-oOo-TW1RMsyp);
  --mixin-vC-EbXlraB6U_color: var(--token-PSVU4knryfi8);
  --mixin-vC-EbXlraB6U_font-weight: 400;
  --mixin-vC-EbXlraB6U_font-size: var(--token-po-TqD1DFQiH);
  --mixin-vC-EbXlraB6U_line-height: var(--token-unDNf8wZ4fw1);
  --mixin-vC-EbXlraB6U_font-family: var(--token-kWV46FPwo1D2);
  --mixin-vC-EbXlraB6U_white-space: pre-wrap;
  --mixin-Qivk_7riKCkL_color: var(--token-PSVU4knryfi8);
  --mixin-Qivk_7riKCkL_font-size: var(--token-Q2X4JhBy_hV8);
  --mixin-Qivk_7riKCkL_font-weight: 400;
  --mixin-Qivk_7riKCkL_line-height: var(--token-oOo-TW1RMsyp);
  --mixin-Qivk_7riKCkL_font-family: var(--token-kWV46FPwo1D2);
  --mixin-Qivk_7riKCkL_white-space: pre-wrap;
  --mixin--Gbt1VnKnEKV_color: #0070f3;
  --mixin--Gbt1VnKnEKV_white-space: pre-wrap;
  --mixin-iq6dN9mi0xnz_color: var(--token-PSVU4knryfi8);
  --mixin-iq6dN9mi0xnz_font-size: var(--token-4hF_LwIOL-pD);
  --mixin-iq6dN9mi0xnz_font-weight: 400;
  --mixin-iq6dN9mi0xnz_line-height: var(--token-AHJATMvbZY-W);
  --mixin-iq6dN9mi0xnz_font-family: var(--token-kWV46FPwo1D2);
  --mixin-iq6dN9mi0xnz_white-space: pre-wrap;
  --mixin-B0jlYekaTeMl_color: var(--token-PSVU4knryfi8);
  --mixin-B0jlYekaTeMl_font-size: var(--token-3UVv2Xd301jz);
  --mixin-B0jlYekaTeMl_font-weight: 400;
  --mixin-B0jlYekaTeMl_line-height: var(--token-unDNf8wZ4fw1);
  --mixin-B0jlYekaTeMl_font-family: var(--token-kWV46FPwo1D2);
  --mixin-B0jlYekaTeMl_white-space: pre-wrap;
  --mixin-PAYKldjFL6ON_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-PAYKldjFL6ON_border-bottom-color: #dddddd;
  --mixin-PAYKldjFL6ON_border-bottom-style: solid;
  --mixin-PAYKldjFL6ON_border-bottom-width: 1px;
  --mixin-PAYKldjFL6ON_border-left-color: #dddddd;
  --mixin-PAYKldjFL6ON_border-left-style: solid;
  --mixin-PAYKldjFL6ON_border-left-width: 1px;
  --mixin-PAYKldjFL6ON_border-right-color: #dddddd;
  --mixin-PAYKldjFL6ON_border-right-style: solid;
  --mixin-PAYKldjFL6ON_border-right-width: 1px;
  --mixin-PAYKldjFL6ON_border-top-color: #dddddd;
  --mixin-PAYKldjFL6ON_border-top-style: solid;
  --mixin-PAYKldjFL6ON_border-top-width: 1px;
  --mixin-PAYKldjFL6ON_border-bottom-left-radius: 3px;
  --mixin-PAYKldjFL6ON_border-bottom-right-radius: 3px;
  --mixin-PAYKldjFL6ON_border-top-left-radius: 3px;
  --mixin-PAYKldjFL6ON_border-top-right-radius: 3px;
  --mixin-PAYKldjFL6ON_font-family: "Inconsolata";
  --mixin-PAYKldjFL6ON_padding-bottom: 1px;
  --mixin-PAYKldjFL6ON_padding-left: 4px;
  --mixin-PAYKldjFL6ON_padding-right: 4px;
  --mixin-PAYKldjFL6ON_padding-top: 1px;
  --mixin-PAYKldjFL6ON_font-size: var(--token-E-XpXqdEPBpB);
  --mixin-PAYKldjFL6ON_white-space: pre-wrap;
  --mixin-H2RSG8O4zfOq_border-left-color: #dddddd;
  --mixin-H2RSG8O4zfOq_border-left-style: solid;
  --mixin-H2RSG8O4zfOq_border-left-width: 3px;
  --mixin-H2RSG8O4zfOq_color: #888888;
  --mixin-H2RSG8O4zfOq_padding-left: 10px;
  --mixin-H2RSG8O4zfOq_white-space: pre-wrap;
  --mixin-iIGjt0KR0jGm_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-iIGjt0KR0jGm_border-bottom-color: #dddddd;
  --mixin-iIGjt0KR0jGm_border-bottom-style: solid;
  --mixin-iIGjt0KR0jGm_border-bottom-width: 1px;
  --mixin-iIGjt0KR0jGm_border-left-color: #dddddd;
  --mixin-iIGjt0KR0jGm_border-left-style: solid;
  --mixin-iIGjt0KR0jGm_border-left-width: 1px;
  --mixin-iIGjt0KR0jGm_border-right-color: #dddddd;
  --mixin-iIGjt0KR0jGm_border-right-style: solid;
  --mixin-iIGjt0KR0jGm_border-right-width: 1px;
  --mixin-iIGjt0KR0jGm_border-top-color: #dddddd;
  --mixin-iIGjt0KR0jGm_border-top-style: solid;
  --mixin-iIGjt0KR0jGm_border-top-width: 1px;
  --mixin-iIGjt0KR0jGm_border-bottom-left-radius: 3px;
  --mixin-iIGjt0KR0jGm_border-bottom-right-radius: 3px;
  --mixin-iIGjt0KR0jGm_border-top-left-radius: 3px;
  --mixin-iIGjt0KR0jGm_border-top-right-radius: 3px;
  --mixin-iIGjt0KR0jGm_font-family: "Inconsolata";
  --mixin-iIGjt0KR0jGm_padding-bottom: 3px;
  --mixin-iIGjt0KR0jGm_padding-left: 6px;
  --mixin-iIGjt0KR0jGm_padding-right: 6px;
  --mixin-iIGjt0KR0jGm_padding-top: 3px;
  --mixin-iIGjt0KR0jGm_white-space: pre-wrap;
  --mixin-lY807SoP4FZc_display: flex;
  --mixin-lY807SoP4FZc_flex-direction: column;
  --mixin-lY807SoP4FZc_align-items: stretch;
  --mixin-lY807SoP4FZc_justify-content: flex-start;
  --mixin-lY807SoP4FZc_list-style-position: outside;
  --mixin-lY807SoP4FZc_padding-left: 40px;
  --mixin-lY807SoP4FZc_position: relative;
  --mixin-lY807SoP4FZc_list-style-type: disc;
  --mixin-lY807SoP4FZc_white-space: pre-wrap;
  --mixin--kSwyDFqEk71_display: flex;
  --mixin--kSwyDFqEk71_flex-direction: column;
  --mixin--kSwyDFqEk71_align-items: stretch;
  --mixin--kSwyDFqEk71_justify-content: flex-start;
  --mixin--kSwyDFqEk71_list-style-position: outside;
  --mixin--kSwyDFqEk71_padding-left: 40px;
  --mixin--kSwyDFqEk71_position: relative;
  --mixin--kSwyDFqEk71_list-style-type: decimal;
  --mixin--kSwyDFqEk71_white-space: pre-wrap;
  --mixin-wJlqcNlII0ir_color: var(--token-PSVU4knryfi8);
  --mixin-wJlqcNlII0ir_font-size: var(--token-ltq-z202MuyM);
  --mixin-wJlqcNlII0ir_font-weight: 400;
  --mixin-wJlqcNlII0ir_line-height: var(--token-oOo-TW1RMsyp);
  --mixin-wJlqcNlII0ir_font-family: var(--token-kWV46FPwo1D2);
  --mixin-wJlqcNlII0ir_white-space: pre-wrap;
  --mixin-gfPHLvoJ_jzX_color: var(--token-PSVU4knryfi8);
  --mixin-gfPHLvoJ_jzX_font-size: var(--token-BE-7FyfyhPHp);
  --mixin-gfPHLvoJ_jzX_font-weight: 400;
  --mixin-gfPHLvoJ_jzX_line-height: var(--token-AHJATMvbZY-W);
  --mixin-gfPHLvoJ_jzX_font-family: var(--token-kWV46FPwo1D2);
  --mixin-gfPHLvoJ_jzX_white-space: pre-wrap;
  --mixin-gKXGeSBEWwzj_color: #3291ff;
  --mixin-gKXGeSBEWwzj_white-space: pre-wrap;
  --mixin-OY992TdMq2aI_white-space: pre-wrap;
  --mixin-x1S-JSHl6-ji_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-BVTJzQfB1fNE_font-family);
  font-size: var(--mixin-BVTJzQfB1fNE_font-size);
  font-weight: var(--mixin-BVTJzQfB1fNE_font-weight);
  font-style: var(--mixin-BVTJzQfB1fNE_font-style);
  color: var(--mixin-BVTJzQfB1fNE_color);
  text-align: var(--mixin-BVTJzQfB1fNE_text-align);
  text-transform: var(--mixin-BVTJzQfB1fNE_text-transform);
  line-height: var(--mixin-BVTJzQfB1fNE_line-height);
  letter-spacing: var(--mixin-BVTJzQfB1fNE_letter-spacing);
  white-space: var(--mixin-BVTJzQfB1fNE_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-vC-EbXlraB6U_color);
  font-weight: var(--mixin-vC-EbXlraB6U_font-weight);
  font-size: var(--mixin-vC-EbXlraB6U_font-size);
  line-height: var(--mixin-vC-EbXlraB6U_line-height);
  font-family: var(--mixin-vC-EbXlraB6U_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Qivk_7riKCkL_color);
  font-size: var(--mixin-Qivk_7riKCkL_font-size);
  font-weight: var(--mixin-Qivk_7riKCkL_font-weight);
  line-height: var(--mixin-Qivk_7riKCkL_line-height);
  font-family: var(--mixin-Qivk_7riKCkL_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin--Gbt1VnKnEKV_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-iq6dN9mi0xnz_color);
  font-size: var(--mixin-iq6dN9mi0xnz_font-size);
  font-weight: var(--mixin-iq6dN9mi0xnz_font-weight);
  line-height: var(--mixin-iq6dN9mi0xnz_line-height);
  font-family: var(--mixin-iq6dN9mi0xnz_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-B0jlYekaTeMl_color);
  font-size: var(--mixin-B0jlYekaTeMl_font-size);
  font-weight: var(--mixin-B0jlYekaTeMl_font-weight);
  line-height: var(--mixin-B0jlYekaTeMl_line-height);
  font-family: var(--mixin-B0jlYekaTeMl_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-PAYKldjFL6ON_font-family);
  font-size: var(--mixin-PAYKldjFL6ON_font-size);
  border-radius: var(--mixin-PAYKldjFL6ON_border-top-left-radius)
    var(--mixin-PAYKldjFL6ON_border-top-right-radius)
    var(--mixin-PAYKldjFL6ON_border-bottom-right-radius)
    var(--mixin-PAYKldjFL6ON_border-bottom-left-radius);
  padding: var(--mixin-PAYKldjFL6ON_padding-top)
    var(--mixin-PAYKldjFL6ON_padding-right)
    var(--mixin-PAYKldjFL6ON_padding-bottom)
    var(--mixin-PAYKldjFL6ON_padding-left);
  border-top: var(--mixin-PAYKldjFL6ON_border-top-width)
    var(--mixin-PAYKldjFL6ON_border-top-style)
    var(--mixin-PAYKldjFL6ON_border-top-color);
  border-right: var(--mixin-PAYKldjFL6ON_border-right-width)
    var(--mixin-PAYKldjFL6ON_border-right-style)
    var(--mixin-PAYKldjFL6ON_border-right-color);
  border-bottom: var(--mixin-PAYKldjFL6ON_border-bottom-width)
    var(--mixin-PAYKldjFL6ON_border-bottom-style)
    var(--mixin-PAYKldjFL6ON_border-bottom-color);
  border-left: var(--mixin-PAYKldjFL6ON_border-left-width)
    var(--mixin-PAYKldjFL6ON_border-left-style)
    var(--mixin-PAYKldjFL6ON_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-H2RSG8O4zfOq_color);
  padding-left: var(--mixin-H2RSG8O4zfOq_padding-left);
  border-left: var(--mixin-H2RSG8O4zfOq_border-left-width)
    var(--mixin-H2RSG8O4zfOq_border-left-style)
    var(--mixin-H2RSG8O4zfOq_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-iIGjt0KR0jGm_font-family);
  border-radius: var(--mixin-iIGjt0KR0jGm_border-top-left-radius)
    var(--mixin-iIGjt0KR0jGm_border-top-right-radius)
    var(--mixin-iIGjt0KR0jGm_border-bottom-right-radius)
    var(--mixin-iIGjt0KR0jGm_border-bottom-left-radius);
  padding: var(--mixin-iIGjt0KR0jGm_padding-top)
    var(--mixin-iIGjt0KR0jGm_padding-right)
    var(--mixin-iIGjt0KR0jGm_padding-bottom)
    var(--mixin-iIGjt0KR0jGm_padding-left);
  border-top: var(--mixin-iIGjt0KR0jGm_border-top-width)
    var(--mixin-iIGjt0KR0jGm_border-top-style)
    var(--mixin-iIGjt0KR0jGm_border-top-color);
  border-right: var(--mixin-iIGjt0KR0jGm_border-right-width)
    var(--mixin-iIGjt0KR0jGm_border-right-style)
    var(--mixin-iIGjt0KR0jGm_border-right-color);
  border-bottom: var(--mixin-iIGjt0KR0jGm_border-bottom-width)
    var(--mixin-iIGjt0KR0jGm_border-bottom-style)
    var(--mixin-iIGjt0KR0jGm_border-bottom-color);
  border-left: var(--mixin-iIGjt0KR0jGm_border-left-width)
    var(--mixin-iIGjt0KR0jGm_border-left-style)
    var(--mixin-iIGjt0KR0jGm_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-lY807SoP4FZc_display);
  flex-direction: var(--mixin-lY807SoP4FZc_flex-direction);
  align-items: var(--mixin-lY807SoP4FZc_align-items);
  justify-content: var(--mixin-lY807SoP4FZc_justify-content);
  list-style-position: var(--mixin-lY807SoP4FZc_list-style-position);
  padding-left: var(--mixin-lY807SoP4FZc_padding-left);
  position: var(--mixin-lY807SoP4FZc_position);
  list-style-type: var(--mixin-lY807SoP4FZc_list-style-type);
  flex-column-gap: var(--mixin-lY807SoP4FZc_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin--kSwyDFqEk71_display);
  flex-direction: var(--mixin--kSwyDFqEk71_flex-direction);
  align-items: var(--mixin--kSwyDFqEk71_align-items);
  justify-content: var(--mixin--kSwyDFqEk71_justify-content);
  list-style-position: var(--mixin--kSwyDFqEk71_list-style-position);
  padding-left: var(--mixin--kSwyDFqEk71_padding-left);
  position: var(--mixin--kSwyDFqEk71_position);
  list-style-type: var(--mixin--kSwyDFqEk71_list-style-type);
  flex-column-gap: var(--mixin--kSwyDFqEk71_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-wJlqcNlII0ir_color);
  font-size: var(--mixin-wJlqcNlII0ir_font-size);
  font-weight: var(--mixin-wJlqcNlII0ir_font-weight);
  line-height: var(--mixin-wJlqcNlII0ir_line-height);
  font-family: var(--mixin-wJlqcNlII0ir_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-gfPHLvoJ_jzX_color);
  font-size: var(--mixin-gfPHLvoJ_jzX_font-size);
  font-weight: var(--mixin-gfPHLvoJ_jzX_font-weight);
  line-height: var(--mixin-gfPHLvoJ_jzX_line-height);
  font-family: var(--mixin-gfPHLvoJ_jzX_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-gKXGeSBEWwzj_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
